<h1>Hey {{calleeName}},</h1>

<h2>You have got a call request from :</h2>

<h3>Name of caller: {{callerUsername}}<br>
    Email of caller: {{callerEmail}}<br>
    Phone Number of caller: <a href="tel:{{callerPhoneNum}}">{{callerPhoneNum}}</a> <br>
    Address of caller: {{callerAddress}}
</h3>
<h2>Go to the Lystra app and chat with the caller!</h2>
<h4>Best Regards,<br>Lystra Team</h4>